# Host Configuration
HOST_NAME=localhost

# Data Storage Configuration
# Change this path to your preferred data storage location
DATA_ROOT_PATH=./data

# Airflow
AIRFLOW_PROJ_DIR=../src/airflow

# Redis
REDIS_PASSWORD=redis123

_PIP_ADDITIONAL_REQUIREMENTS=kafka-python hdfs

AIRFLOW_UID=$(id -u)